/* h1 {
  font-family: "Courier New", Courier, monospace;
} */

body {
  background-color: #bcbcbc;
}
.container {
  display: flex;
  gap: 10px; /* Optional: adds space between divs */
}

/* .overlay {
  z-index: 1000;
}
.tick {
  z-index: 1000;
} */
